{% extends "base.html" %}

{% block content %}

  <h4 style="text-align: center;">fHDHR Diagnostic Links</h4>

  <div class="container">
    <table class="table-medium center">
      <tbody>
       <tr>
          <th>Category</th>
          <th>Link</th>
       </tr>

      <tr>
        {% for button_item in button_list %}
          <td>{{ button_item["label"] }}</td>
          <td><button onclick="OpenLink('{{ button_item["link"] }}')">{{ button_item["label"] }}</a></button></td>
        {% endfor %}
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
