{% extends "base.html" %}

{% block content %}

  <h4 style="text-align: center;">{{ fhdhr.config.dict["fhdhr"]["friendlyname"] }} Tools</h4>

  <form method="post" action="/api/tools?method=prettyjson&redirect=/tools">
    <a data-th="URL"><input type="text" name="url" value=""></a>
    <a data-th="Convert Json url to tabbbed"><input type="submit" value="Convert Json url to tabbbed"></a>
  </form>

  <br><br><br>

  <form method="post" action="/api/tools?method=css_generator">
    <input type="text" name="url" value="">
    <br><input type="submit" value="Generate CSS">
  </form>

  <div class="container">
    <table class="table-settings center action-col text-edit-cols">
    <thead>
      <tr>
        <th>CSS Name</th>
        <th>CSS Type</th>
        <th>Value</th>
      </tr>
    </thead>
      <tbody>

        {% for css_item in css_items %}
          <tr>
            <td>{{ css_item["name"] }}</td>
            <td>{{ css_item["type"] }}</td>
            <td>
              <form style="margin:auto">
                <input type="hidden" name="section" value="{{ css_item["section"] }}">
                <input type="hidden" name="section" value="{{ css_item["setting"] }}">
                <input type="text" size="25" name="value" value="{{ css_item["value"] }}">
                <br><input type="submit" value="Generate CSS">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
